/* #region CSS reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
  margin: 0px;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* #endregion */

#dashboardContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  /* This takes the entire screen height, which would apply to the containers below */
  font-family: Arial;
}

div.dashboardSidebar {
  width: 20%;
  /* This and dashboardContentContainer's width should equal 100% */
  background: #323232;

  .dashboardLogo {
    color: #f685a1;
    text-align: center;
    font-size: 80px;
  }

  div.dashboardSidebarUser {
    /* You can use vertical-align middle for the img element, but this handles multiple lines of text */
    display: flex;
    align-items: center;
    justify-content: center;
    /* This puts content in the horizontal middle */
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;

    img {
      width: 20%;
      display: inline-block;
      border-radius: 50%;
      border: 2px solid #f685a1;
      margin-right: 10px;
    }

    span {
      font-size: 20px;
      text-transform: uppercase;
      color: white;
    }
  }

  div.dashboardSidebarMenu {
    margin-top: 20px;
    width: 100%;

    ul.dashboardMenuLists {
      /* Remove default padding, margin, and style for unordered list */
      list-style: none;
      margin: 0px;
      padding: 0px;
      font-size: 20px;

      li.listMainMenuItem {
        text-transform: uppercase;

        a {
          padding: 15px 25px;
        }

        i.mainMenuChevron {
          float: right;
          font-size: 20px;
          margin-top: .5rem;
        }
      }

      a {
        text-decoration: none;
        color: white;
        display: block;
      }

      .menuText {
        margin-left: 5px;
      }

      i {
        font-size: 25px;
      }

      li:hover {
        background-color: #f685a1;
        color: white;
      }
    }

    ul.subMenus {
      list-style: none;
      background-color: #c26a80;
      padding-left: 0px;
      display: none;

      .subMenuActive {
        font-weight: bold;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        background-color: #763a49;
      }

      a.subMenuLink {
        padding-top: 10px;
        padding-bottom: 10px;
        text-transform: none;

        i {
          font-size: 16px;
          padding-right: 5px;
        }
      }
    } 
  }
}

div.dashboardContentContainer {
  width: 80%;
  /* This and dashboardSidebar's width should equal 100% */
  background: #f4f6f9;

  .dashboardContentTopNav {
    background-color: white;
    padding: 20px;
    color: #848383;
    font-size: 20px;

    a {
      font-size: 18px;
      text-decoration: none;
    }

    #logoutButton {
      float: right;
    }

    a:hover {
      color: #f685a1;
    }
  }


  .dashboardContent {
    padding: 50px 10px 10px 10px;

    .dashboardContentMain {
      background: white;
      /*min-height: 800px;*/
      height: 100%;
      padding-left: 20px;
      border: 1px solid #cdcdcd;
    }
  }
}

div#userAddFormContainer {
  padding: 50px 0px;
}

form::after {
  content: '';
  clear: both;
  display: block;
}

form.appForm {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #cecfd0;
  border-radius: 5px;
  background-color: #f4f6f9;

  div.appFormInputContainer {
    margin-bottom: 15px;
  }

  label {
    font-weight: bold;
    text-transform: uppercase;
  }

  .appFormInput {
    width: 100%;
    height: 33px;
    border: 1px solid #d6d7da;
    border-radius: 5px;
  }

  button.addUserButton {
    color: white;
    background-color: #14bdad;
    border: 1px solid #002e2b;
    padding: 10px;
    margin-top: 20px;
    float: right;
  }

  #suppliersSelect {
    border-color: #d2d2d2;
    max-height: 100px;
    height: 100%;
  }
}

div.responseMessage {
  font-size: 18px;
  text-align: center;
  margin-top: 33px;
  padding: 20px;

  p.responseMessageSuccess {
    background-color: rgba(0, 128, 0, .1);
  }

  p.responseMessageFailure {
    background-color: rgba(128, 0, 0, .1);
  }
}

/*  User Add Page */
div.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  h1 {
    font-size: 21px;
    color: #f685a1;
    border-bottom: 1px solid #ffd7e1;
    padding: 10px;
    padding-bottom: 11px;
    border-left: 4px solid #f690bf;
    text-align: center;
    margin-bottom: 15px;
  }

  div.column {
    width: 100%;
    height: inherit;
    padding: 0px 10px;
  }

  div.column-5 {
    width: 41.67%;
  }

  div.column-7 {
    width: 58.33%;
  }
}

p.totalUserCount {
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #f685a1;
  padding: 5px;
}

table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid #cacaca;
  border-collapse: collapse;

  th {
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    background-color: #f4f6f9;
  }

  td {
    font-size: 13px;
    text-align: center;
    padding: 5px;
  }
}

.productImages {
  width: 100px;
  height: 100px;
}