/* #region CSS reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
  margin: 0px;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* #endregion */

body {
  font-family: Arial;
}

div.homepageTopHeaderLine {
  width: 100%;
  background-color: #f685a1;
  margin: 0px;
  padding: 10px 0px;
  text-align: right;

  a {
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border: 2px solid transparent;
  }

  a:hover {
    border: 2px solid white;
    border-radius: 5px;
  }
}

div.homepageBanner {
  background-image: url("../Images/homepage-background.jpg");
  background-position: center center;
  /* Just having center would be fine as it defaults to center for second one*/
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* Makes sure we don't scroll with page */
  padding-top: 100px;
  padding-bottom: 100px;

  height: 50vh;
}

div.homepageContainer {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

div.homepageBannerHeader {
  color: #f685a1;
  line-height: 100%;

  h1 {
    font-size: 100px;
  }

  p {
    font-size: 40px;
    text-transform: uppercase;
  }
}

p.homepageBannerTagline {
  font-size: 25px;
  color: white;
  margin-top: 20px;
}

div.homepageBannerIcons {
  margin-top: 150px;

  a {
    font-size: 23px;
    margin-left: 40px;
    text-align: center;
    align-content: center;
    background-color: rgba(0, 0, 0, .4);
    color: #868485;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
  }

  a:first-child {
    margin-left: 0px;
  }

  a:hover {
    color: white;
    background-color: #f685a1;
    font-size: 25px;
    transition: .5s all;
    /* stop it from being jittery on hover - maybe just don't change the font-size*/
  }
}

div.homepageFeatures {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 50px 0px;

  span.featureIcon {
    height: 80px;
    width: 80px;
    font-size: 50px;
    background: #f685a1;
    color: white;
    display: inline-block;
    border-radius: 50%;
    align-content: center;
    margin-bottom: 20px;
  }

  h3.featureTitle {
    margin-bottom: 20px;
    font-size: 25px;
  }

  .homepageFeature {
    padding: 10px 20px;
    width: 33.33%;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }

  .homepageFeature:hover {
    border-top: 2px solid #f8a4b9;
    border-bottom: 2px solid #f8a4b9;
    transition: 0.3s all;
  }

  p.featureDescription {
    color: #848484;
    font-size: 18px;
  }
}

div.homepageNotified {
  background-color: #e3e3e3;
  padding: 80px;

  h3 {
    margin-bottom: 20px;
    font-size: 30px;
  }

  p {
    color: #848484;
    line-height: 200%;
    margin-bottom: 30px;
    font-size: 20px;
  }

  .homepageNotifiedContainer {
    display: flex;
    flex-direction: row;
  }

  /* Any div element that is a direct descendent will
       get a 50% width of the homepageNotifiedContainer.
       This ensures that input & video takes only 50% of
       the container; otherwise, the video is squished
     */
  .homepageNotifiedContainer>div {
    width: 50%;
  }

  .homepageInputButtonContainer {
    width: 80%;
    position: relative;
    border-radius: 15px;

    .emailForm {
      width: 40%;
    }

    input {
      width: 100%;
      padding: 15px 10px;
      border-radius: inherit;
      border: none;
    }

    input:focus {
      outline: none;
    }

    button {
      /* This puts the button inside on the top-right of the input field */
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      font-size: 22px;
      padding: 0px 10px;
      background-color: #f685a1;
      color: white;
      border: none;
      border-top-right-radius: inherit;
      border-bottom-right-radius: inherit;
    }
  }

  .loginVideo {
    width: 60%;
    text-align: center;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}

div.socials {
  text-align: center;
  padding: 40px 0px 40px 0px;
  margin: 30px 0px 30px 0px;

  .socialHeader {
    font-size: 30px;
  }

  .socialText {
    margin: 20px 0px 25px 0px;
    color: #848484;
    font-size: 20px;
  }

  .socialIconsContainer {

    a {
      font-size: 23px;
      height: 50px;
      width: 50px;
      display: inline-block;
      background: #d4d4d4;
      border-radius: 50%;
      align-content: center;
      color: white;
      margin: 0px 5px 0px 5px;
    }

    a:hover {
      background-color: #f685a1;
      transition: .5s all;
    }
  }
}

div.homepageFooter {
  background: #e3e3e3;
  width: 100%;
  padding: 50px 0px 50px 0px;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;

  a {
    color: #848484;
    margin: 0px 15px 0px 15px;
    text-decoration: none;
    font-size: 20px;
  }

  a:hover {
    text-shadow: 1px 0 0 #f8a4b9;
    color: #f8a4b9;
    /*font-weight: bold;
    color: #f8a4b9;
    transition: 0.5s all;*/
  }
}